# будет игнорироваться каталог tmp
tmp/

# будут игнорироваться файлы, заканчивающиеся суффиксами _old
*_old

# будут игнорироваться файлы, заканчивающиеся суффиксами _backup
*_backup

# будут игнорироваться все файлы Thumbs.db
Thumbs.db

# будут игнорироваться все файлы .DS_Store
.DS_Store


